@main-font-size: 14px;

.w2ui-reset,
.w2ui-icon {
    font-size: @main-font-size;
}

.w2ui-box-label {
    font-size: @main-font-size;

    & span {
        font-size: @main-font-size;
    }
}

.w2ui-form-header {
    font-size: 18px;
}

.w2ui-input {
    font-size: 15px;
}

.w2ui-field-helper.w2ui-list .w2ui-enum-placeholder {
    padding-top: 3px;
    padding-left: 6px;
}

.w2ui-group-title {
    padding: 3px 2px 5px 5px;
}

input[type=button].w2ui-btn,
button.w2ui-btn {
    margin: 0px 3px;
    padding: 9px 17px;
}

.xf-group-label {
    padding-left: 1px;
}

.xf-val-color {
    width: 24px;
    height: 24px;
}

.xf-type {
    padding: 0 0 5px 0;
}

.xk-label {
    margin-top: 2px;
    text-align: right;
    font-size: 13px;
    line-height: 15px;
    /*text-align: right;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;*/
}
