@main-font-size: 14px;

.w2ui-reset,
.w2ui-icon {
    font-size: @main-font-size;
}

.w2ui-box-label {
    font-size: @main-font-size;

    & span {
        font-size: @main-font-size;
    }
}

.w2ui-form-header {
    font-size: 18px;
}

.w2ui-input {
    font-size: 15px;
}

.w2ui-field-helper.w2ui-list .w2ui-enum-placeholder {
    padding-top: 3px;
    padding-left: 6px;
}

.w2ui-group-title {
    padding: 3px 2px 5px 5px;
}

.w2ui-btn,
.w2ui-btn {
    margin: 0px 3px;
    padding: 9px 17px;
}

.w2ui-tb-button {
    border-radius: 7px;
    padding: 0 9px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 36px;
    border: 1px solid transparent;
    outline: 0;
    box-shadow: 0 1px 0 #fff;
    background-color: #e8e8ee;
}

.w2ui-tb-button.xcircle {
    border-radius: 19px;
    padding: 0 19px 1px;
}

.w2ui-tb-button.bg-transparent {
    background-color: transparent;
}

.w2ui-tb-button.over,
.w2ui-tb-button.down {
    background-color: #ddd;
    border-color: #eaeaed;
}

.x-button-circle .w2ui-tb-text {
    padding: 0;
}

.xf-group-label {
    padding-left: 1px;
}

.xf-val-color {
    width: 24px;
    height: 24px;
}

.xf-type {
    padding: 0 0 5px 0;
}

.xk-label {
    margin-top: 2px;
    text-align: right;
    font-size: 13px;
    line-height: 15px;
    /*text-align: right;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;*/
}
